@import "~materialize-css/dist/css/materialize.min.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

html {
    background: linear-gradient(to right, #57c1eb 0%, #246fa8 100%);
}

#authPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

#loginCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 400px;
    border: 1px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 50px;
}

#registerCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 800px;
    border: 1px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#loginBtn {
    margin-bottom: 0;
    height: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#chat-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 2.4fr 0.3fr;
    margin: 200px auto;
    height: 500px;
    width: 500px;
    gap: 0 0;
    grid-template-areas:
    "chat-title"
    "chat-message-list"
    "chat-form";
    background: #FFF;
    border-radius: 10px
}

#chat-title,
#chat-form {
    background: #eee;
}

#chat-title {
    grid-area: chat-title;
    display: grid;
    text-align: center;
    color: #0048AA;
    font-weight: bold;
    font-size: 2.0rem;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 1px 3px -1px black;
}

#chat-message-list {
    grid-area: chat-message-list;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px;
    overflow-y: scroll;
}

#chat-message {
    display: grid;
    justify-content: end;
    justify-items: end;
    grid-template-columns: 70%;
    margin-bottom: 20px;
    word-break: break-all
}

#you-message {
    padding: 9px 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #0048AA;
    color: #eee;
    border: 1px solid #0048AA;
    border-radius: 14px 14px 0 14px;
}

#other-message {
    justify-items: start;
    padding: 9px 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #eee;
    color: #111;
    border: 1px solid #ddd;
    border-radius: 14px 14px 14px 0;
    word-break: break-all
}

#other-chat-message {
    display: grid;
    justify-items: start;
    grid-template-columns: 70%;
    margin-bottom: 5px;
}

#message-time {
    color: #777
}

#chat-form {
    display: grid;
    grid: 55px/45px 1fr;
    padding-left: 18px;
    padding-right: 22px;
    grid-gap: 15px;
    align-content: center;
    align-items: center;
    grid-area: chat-form;
    border-top: 1px solid black;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 1px 3px -1px black;
}

#chat-field:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

#chat-field {
    border-bottom: none !important;
    margin: 0;
}

.input-field {
    margin: 7px 0;
}

.inline {
    margin-left: 3px;
    display: inline;
}

.validate {
    color: #4CAF50;
}

::placeholder {
    color: #b2b8ff;
    padding-left: 3px;
}